.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.event {
  margin-top: 15px;
}

.profile__img {
  width: 100%;
}

.event__date {
  display: block;
  margin-bottom: 10px;
}

.email {
  color: grey;
  font-size: 18px;
}
